

body
{
	width:50%;
	
    background: url(images/background.png) no-repeat center  fixed;
	 -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    /*background-position: top center;*/
	opacity:1;
}
#_1
{
    position:fixed;
	 width:50%;
  
	
}

#logo
{
    width:200px;
	height:200px;
	left:276px;
	top:60px;
	opacity:1;
	
	/*margin-left:0px;
	margin-top:40px;
	margin-right:0px;
	margin-bottom:-10px;*/
	border-width:1px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	/*overflow:hidden;*/
	
}

#btn1
{
    width:315px;
	/*height:230px;*/
	left:235px;
	top:230px;
	opacity:1;
	overflow:hidden;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	line-height:0px;
	
}

#btn2
{
    width:315px;
	/*height:230px;*/
	left:512px;
	top:230px;
	opacity:1;

	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	line-height:0px;
	
}

#btn3
{
    width:315px;
	/*height:230px;*/
	left:780px;
	top:230px;
	opacity:1;
	
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	line-height:0px;
	
}
 .buttonk
 {
	cursor:pointer;
    display:block;
    height:50px;
    width:150px;
	left: -7px;
	top:-9px;
    line-height:80px;
    text-align:center;
    background-image:url('images/Kafedra.png');
    background-repeat:no-repeat;
	background-size: contain;
 }
 .buttonN
 {
	cursor:pointer;
    display:block;
    height:50px;
    width:150px;
	left: 94px;
	top:-9px;
    line-height:80px;
    text-align:center;
    background-image:url('images/Napravl.png');
    background-repeat:no-repeat;
	background-size: contain;
 }
 .buttonS
 {
	cursor:pointer;
    display:block;
    height:50px;
    width:150px;
	left: 200px;
	top:-9px;
    line-height:80px;
    text-align:center;
    background-image:url('images/Nauka.png');
    background-repeat:no-repeat;
	background-size: contain;
 }
 .buttonSo
 {
	 cursor:pointer;
    display:block;
    height:53px;
    width:150px;
	left: 278px;
	top:-12px;
    line-height:80px;
    text-align:center;
    background-image:url('images/Sotrudn.png');
    background-repeat:no-repeat;
	background-size: contain;
 }
 .buttonKo
 {
	  cursor:pointer;
    display:block;
    height:51px;
    width:150px;
	left: 477px;
	top:-10px;
    line-height:80px;
    text-align:center;
    background-image:url('images/konakts.png');
    background-repeat:no-repeat;
	background-size: contain;
 }
 .buttonMp
 {
	  cursor:pointer;
    display:block;
    height:57.45px;
    width:150px;
	left: 377px;
	top:-11px;
    line-height:80px;
    text-align:center;
    background-image:url('images/Meropr.png');
    background-repeat:no-repeat;
	background-size: contain;
 }
 
#menu
{   
    /*background-color: #fff;*/
    width:560px;
	height:35px;
	left:500px;
	top:178px;
	opacity:1;
	/*margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;*/
	border-width:1px;
	padding-left:0px;
	padding-top:5px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	/*overflow:hidden;*/
	
}


